.page-signup {
  margin-top: 100px;
}

.signup-logo {
  background-color: $signup-box-color;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin: -86px 45%;
  position: absolute;
}

.signup-header {
  color: $supp-grey;
  text-shadow: 1px 1px $supp-grey-lighter;
  width: 440px;
  margin: 0 auto;

  a {
    text-decoration: none;
    font-size: $font-size-large;
    color: $gray;
    margin: 10px auto;
    border-bottom: 1px solid $gray;
    padding-bottom: 3px;

    &:hover {
      text-shadow: none;
      text-decoration: none;
      color: $brand-primary;
      border-bottom: 1px solid $brand-primary;
      padding-bottom: 3px;
    }
  }
}

.signup-box {
  display: block;
  margin: 0 auto;
  padding: 30px;
  background-color: $signup-box-color;
  width: 440px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  border: 0;
  border-radius: $border-radius-large;
}
